
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
Hello/library/
Hello/temp/
Hello/local/
Hello/build/
Hello/profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
Hello/node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
Hello/.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
Hello/.idea/