name: 內部資源更新

on:
  workflow_dispatch:
    inputs:
      build_windows:
        description: '打包Windows環境'
        required: true
        default: true

      build_android:
        description: '打包Android環境'
        required: true
        default: true

      build_ios:
        description: '打包iOS環境'
        required: true
        default: true

      environment:
        description: '環境'
        required: true
        default: 'development'
        type: choice
        options:
          - development
          - test
          - production

jobs:
  build:
    runs-on: [self-hosted]

    steps:
      - name: check out
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
          clean: false

      - name: Summary Inputs
        uses: ./.github/actions/summary-inputs
        with:
          all_inputs: ${{ toJSON(inputs) }} 

      - name: Install Packages
        uses: ./.github/actions/install-packages

      - name: Build Bundle(Windows)
        if: ${{ inputs.build_windows }}
        uses: ./.github/actions/build-core
        with:
          git_token: ${{ github.token }} 
          force_clean: false
          environment: ${{ inputs.environment }}
          platform: windows
          dev_mode: true
          auto_compile: false

      - name: Build Bundle(Android)
        if: ${{ inputs.build_android }}
        uses: ./.github/actions/build-core
        with:
          git_token: ${{ github.token }} 
          force_clean: false
          environment: ${{ inputs.environment }}
          platform: android
          dev_mode: true
          auto_compile: false

      - name: Build Bundle(iOS)
        if: ${{ inputs.build_ios }}
        uses: ./.github/actions/build-core
        with:
          git_token: ${{ github.token }} 
          force_clean: false
          environment: ${{ inputs.environment }}
          platform: ios
          dev_mode: true
          auto_compile: false