name: 內部資源更新

on:
  workflow_dispatch:
    inputs:
      platform:
        description: '平台'
        required: true
        default: 'windows'
        type: choice
        options:
          - windows
          - android
          - ios

      environment:
        description: '環境'
        required: true
        default: 'development'
        type: choice
        options:
          - development
          - test
          - production

jobs:
  build:
    runs-on: [self-hosted]

    steps:
      - name: check out
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
          clean: false

      - name: Summary Inputs
        uses: ./.github/actions/summary-inputs
        with:
          all_inputs: ${{ toJSON(inputs) }} 

      - name: Install Packages
        uses: ./.github/actions/install-packages

      - name: Build Bundle & Compile
        uses: ./.github/actions/build-core
        with:
          git_token: ${{ github.token }} 
          force_clean: false
          environment: ${{ inputs.environment }}
          platform: ${{ inputs.platform }}
          dev_mode: true
          auto_compile: false