name: 外部資源更新

on:
  workflow_dispatch:
    # inputs:
    #   platform:
    #     description: '平台'
    #     required: true
    #     default: 'windows'
    #     type: choice
    #     options:
    #       - windows
    #       - android
    #       - ios

jobs:
  build_windows:
    runs-on: [self-hosted]

    steps:
      - name: check out
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
          clean: false

      - name: Install Packages
        uses: ./.github/actions/install-packages

      - name: Build Bundle(Windows)
        uses: ./.github/actions/build-core
        with:
          git_token: ${{ github.token }} 
          force_clean: false
          environment: 'production'
          platform: windows
          dev_mode: false
          auto_compile: false

  build_android:
    runs-on: [self-hosted]

    steps:
      - name: check out
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
          clean: false

      - name: Install Packages
        uses: ./.github/actions/install-packages

      - name: Build Bundle(Android)
        uses: ./.github/actions/build-core
        with:
          git_token: ${{ github.token }} 
          force_clean: false
          environment: 'production'
          platform: android
          dev_mode: false
          auto_compile: false

  build_ios:
    runs-on: [self-hosted]

    steps:
      - name: check out
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
          clean: false

      - name: Install Packages
        uses: ./.github/actions/install-packages

      - name: Build Bundle(iOS)
        uses: ./.github/actions/build-core
        with:
          git_token: ${{ github.token }} 
          force_clean: false
          environment: 'production'
          platform: ios
          dev_mode: false
          auto_compile: false